.maincontacto {
    @include flex;
    background-image: url(../../img/cftfondo.jpg);
    justify-content: space-evenly;

    h2 {
        text-align: center;
        padding: 20px;
        font-size: 35px;
    }
}

@media (max-width: 1024px) {

    .maincontacto {
        height: 1100px;
        background-image: url(../../img/cftfondo50x50.jpg)
    }
}

@media (max-width: 425px) {

    .maincontacto {
        height: 1100px;
        background-image: radial-gradient(ellipse  1000px 2000px, rgb(255, 255, 255), rgb(178, 178, 184) );
    }
}