.maincontacto {
    @include flex;
    background-image: url(../../img/cftfondo.jpg);
    justify-content: space-evenly;

    h2 {
        text-align: center;
        font-size: 40px;
    }
}

@media (max-width: 1024px) {

    .maincontacto {
        height: 98%;
        background-image: url(../../img/cftfondo50x50.jpg);

        h2 {
            padding-top: 10px;
            font-size: 35px;
        }
    }
}

@media (max-width: 425px) {

    .maincontacto {
        height: 98%;
        background-image: url(../../img/cftfondo30x30.jpg)
    }
}