.maincontacto {
    @include flex;
    background-image: url(./../../../img/cft\ fondo.jpg);
    justify-content: space-evenly;

    h2 {
        text-align: center;
        padding: 20px;
        font-size: 35px;
    }
}

@media (max-width: 1024px) {

    .maincontacto {
        height: 1100px;
        background-image: url(../../../img/cft\ fondo\ 50x50.jpg)
    }
}

@media (max-width: 425px) {

    .maincontacto {
        height: 1100px;
        background-image: url(/img/cft\ fondo\ 30x30.jpg)
    }
}