.maingaleria h1 {
    color: aliceblue;
    text-align: center;
    padding: 20px;
    font-size: 35px;
    background-color: rgb(25, 32, 32);
    background-image: radial-gradient(ellipse, rgb(104, 100, 100), rgb(19, 19, 37));
}