.mainindex {
    background-size: contain;

    .maindivindex {
        display: flex;
        background-image: url(/img/cft\ fondo.jpg);
        background-repeat: no-repeat;
        background-position: center;
        justify-items: center;
        height: 1000px;
        flex-direction: column;
    }
}

main div h1 {
    color: black;
    text-align: center;
    padding-top: 10vh;
    font-size: 40px;
    padding: 20px;
}

@media (max-width: 1024px) {

    .mainindex .maindivindex {
        background-image: url(/img/cft\ fondo\ 50x50.jpg)
    }
}

@media (max-width: 425px) {

    .mainindex .maindivindex {
        background-image: url(/img/cft\ fondo\ 30x30.jpg)
    }
}