.nosotrosmain {
    @include flex;
    background-image: url(../../../img/cftfondo.jpg);

    h2 {
        text-align: center;
        padding: 20px;
        font-size: 35px;
    }

    .divnosotros {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        background-color: grey;
        transition: 1s;
        &:hover {
            background-color: red;
            height: 500px;
        }

        p {
            font-size: 25px;
        }
    }
}

@media (max-width: 1024px) {

    .nosotrosmain {
        height: 700px;
        background-image: url(../../../img/cftfondo50x50.jpg)
    }
}

@media (max-width: 425px) {

    .nosotrosmain {
        height: 700px;
        background-image: url(../../../img/cftfondo30x30.jpg)
    }
}