.nosotrosmain {
    @include flex;
    background-image: url(../../img/cftfondo.jpg);
    justify-content: space-evenly;
    height: 100%;

    h2 {
        text-align: center;
        padding: 20px;
        font-size: 40px;
    }

    .divnosotros {
        display: flex;
        justify-content: center;
        margin: 50px;

        p {
            font-size: 30px;
            font-weight: 600;
        }
    }
}

@media (max-width: 1024px) {

    .nosotrosmain {
        background-image: url(../../img/cftfondo50x50.jpg);
        height: 100%;
        background-repeat: repeat-y;
    }
}

@media (max-width: 425px) {

    .nosotrosmain {
        height: 100%;
        background-image: url(../../img/cftfondo30x30.jpg);
        background-repeat: repeat-y;
        .divnosotros {
            p {
                font-size: 20px;
            }
        }
    }
}