.nosotrosmain {
    @include flex;
    background-image: url(/img/cft\ fondo.jpg);

    h2 {
        text-align: center;
        padding: 20px;
        font-size: 35px;
    }

    div {
        display: flex;
        justify-content: center;
        padding-top: 100px;

        p {
            font-size: 25px;
        }
    }
}

@media (max-width: 1024px) {

    .nosotrosmain {
        height: 700px;
        background-image: url(/img/cft\ fondo\ 50x50.jpg)
    }
}

@media (max-width: 425px) {

    .nosotrosmain {
        height: 700px;
        background-image: url(/img/cft\ fondo\ 30x30.jpg)
    }
}