.pesquerosmain {
    @include flex;
    background-image: url(../../img/cftfondo.jpg);
    background-image: radial-gradient(ellipse  1000px 2000px, rgb(255, 255, 255), rgb(178, 178, 184) );

    h1 {
        text-align: center;
        padding: 20px;
        font-size: 35px;
    }

    div {
        width: 90%;
        object-fit: cover;
        border-style: solid;
        border-color: aliceblue;
        
        img {
            width: 75px;
            height: 75px;
            margin-top: 00px;
        }

        iframe {
            width: 75px;
            height: 75px;
            margin-top: 00px;
        }
    }
}

@media (max-width: 1024px) {

    .pesquerosmain {
        height: 700px;
        background-image: url(../../img/cftfondo50x50.jpg)
    }
}

@media (max-width: 425px) {

    .pesquerosmain {
        height: 700px;
        background-image: url(../../img/cftfondo30x30.jpg)
    }
}