.divgaleria {

    .fotopesca {
        width: 90%;
        object-fit: cover;
        border-style: solid;
        border-color: aliceblue;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 500px;

    }

    img {
        transition: all 1s;

        &:hover {
            width: 700px;
        }
    }
}


@media (max-width: 1024px) {
    .divgaleria {

        .fotopesca {
            object-fit: cover;
            border-style: solid;
            border-color: aliceblue;
            margin-top: 5px;
            margin-bottom: 5px;
            width: 90%;
            height: 300px;

        }

        img {
            transition: all 1s;

            &:hover {
                width: 95%;
                height: 95%;
            }
        }
    }
}

@media (max-width: 425px) {

    .fotopesca {
        object-fit: cover;
        border-style: solid;
        border-color: aliceblue;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 90%;
    }
}