.fieldsetformmaincontacto1 {
    font-size: 20px;
    padding-left: 10px;

    legend {
        font-size: 40px;
        padding-left: 10px;
    }

    section div {
        display: inline-block;
        padding: 10px;
    }
    .divmodalidad {
        padding: 10px;
        border-color: black;
        border-width: thick;
        padding-left: 10px;
    }
    .divmainconsulta {
        padding-top: 200px;
    }

}



