.divgaleria {
    background-color: rgb(71, 71, 71);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

@media (max-width: 1024px) {

    .divgaleria {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr;
        justify-items: center;
    }
}

@media (max-width: 425px) {

    .divgaleria {
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1fr;
        justify-items: center;
    }
}