nav {
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            list-style: none;
            font-size: 28px;
        }
    }

    a {
        color: rgb(0, 0, 0);
        list-style: none;
        text-decoration: none;
    }
}